@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
body {
  background-color: #aaf0ff;
}
#indexBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 120px;
}

#messageContainer {
  position: absolute;
  top: 380px;
  right: 75px;
}

h1,
h2 {
  text-align: center;
  margin: 10px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#registerButton {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  padding: 15px 40px;
  font-weight: bold;
}
#loginButton {
  background-color: #aaf0ff;
  color: white;
  border: none;
  outline: none;
  padding: 15px 40px;
  font-weight: bold;
}
#indexButtonList {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
button {
  padding: 10px 20px;
  background-color: #aaf0ff;
  color: white;
  cursor: pointer;
}

#formDiv {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  min-height: 550px;
  position: relative;
}
#loginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginFormContainer input[type='text'],
#loginFormContainer input[type='password'] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
}

#loginFormContainer button {
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 80px;
  background-color: #aaf0ff;
  color: white;
  cursor: pointer;
}

#registerFormContainer input[type='text'],
#registerFormContainer input[type='password'],
#registerFormContainer input[type='number'] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
}

#registerFormContainer button {
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 70px;
  background-color: #aaf0ff;
  color: white;
  cursor: pointer;
}

#indexBody::after {
  content: '';
  background-image: url('images/index-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
#userButtonList {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#userButtonList button {
  margin: 0 10px;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: none;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin-top: 10px;
}

#viewProfileContainer,
#viewTripContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
#viewTripContainer,
#toggleChronologicalButton {
  margin-bottom: 20px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  background-color: #aaf0ff;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 130px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 50%;
  top: 40px;
  transform: translateX(50%);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #aaf0ff;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#viewProfileContainer {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 60px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  min-height: 400px;
  position: relative;
}

#changeCarOwnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#changeCarOwnerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#changeCarOwnerForm h3 {
  text-align: center;
  margin-bottom: 50px;
}

#changeCarOwnerContainer input[type='text'],
#changeCarOwnerContainer input[type='number'] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
}

#carownerLicenseNo,
#carownerCarPlateNo {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#changeCarOwnerForm button {
  width: 100%;
  padding: 10px;
  background-color: #aaf0ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#updateUserForm {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
}

#updateUserForm h3 {
  text-align: center;
}
#updateUserForm label,
#updateUserForm input,
#updateUserForm button {
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#updateUserContainer input[type='text'],
#updateUserContainer input[type='number'] {
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#updateUserForm button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #aaf0ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmDeleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#confirmDeleteContainer button {
  width: 100%;
  padding: 10px;
  background-color: #aaf0ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmDeleteContainer h3 {
  text-align: center;
  margin-bottom: 100px;
}

#tripList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.trip-item {
  display: inline-block;
  width: calc(33.33% - 2 * 10px);
  height: 280px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

.card {
  margin: 0 auto;
  max-width: 1200px;
  border: none;
}
.card-body {
  margin: 0;
  height: 100%;
  padding: 10px;
  background-color: #aaf0ff;
}

#toggleChronologicalButton {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 15px 0;
}

.trip-item button {
  border-radius: 15px;
  font-weight: bold;
  border: none;
}

#publishTripContainer {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 60px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  min-height: 400px;
  position: relative;
}

#publishTripForm {
  width: 300px;
  margin: auto;
}

#publishTripForm label,
#publishTripForm input,
#publishTripForm button {
  margin-bottom: 10px;
}
#publishTripForm h3 {
  text-align: center;
  margin-bottom: 50px;
}
#publishTripContainer input {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #e0e0e0;
}

#publishTripContainer button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #aaf0ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
